.loading {
  color: var(--red);
  font-size: 60px;
  text-align: center;
}

.icon {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
