@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Kanit:wght@500&family=Montserrat&family=Roboto:wght@400;700&display=swap");

:root {
  --red: #f0141e;
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  background-color: black;
}

.wallpaper-image {
  position: fixed;
  inset: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.main {
  padding-top: 90px;
  padding-bottom: 24px;
  margin: auto;
  max-width: 1280px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .main {
    width: 90%;
  }
}
